.wrapper{
    animation: transitionIn 3s ;
}




@keyframes transitionIn {
    from{
        opacity:0 ;
        transform: rotateXdeg(-10deg);

    }

    to {
        opacity:1 ;
        transform: rotateXdeg(0);

    }
}

.wrapper .sidebar {
    animation:  slidein 2s;

}

@keyframes slidein {
    from { 
        opacity:0.1;
        height:0;
     
        
    }
    to   { 
        opacity:1;
        height:100%;
      
  }